body,div,section,article,main,nav,header,footer{
  border:none;
  margin:0;
  padding: 0;
  font-size: 1em;
}

.contain{
  width:100%;
  width: 100%;
  object-fit: contain;
}

.cover{
  width:100%;
  width: 100%;
  object-fit: cover;
}

.Fl{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.FlC{
  flex-direction: column;
}
